.profile__name-block {
  position: relative;
  width: min-content;
  max-width: 100%;
}

@media screen and (max-width:580px) {
  .profile__name-block {
    max-width: calc(100% - 2*(18px + 10px));
  }
}